.worldouter{
    background-color: #E9F4FF;
    padding: 2rem 0rem 5rem;
}
.worldmadehead{
    display: flex;
    justify-content: center;
}

.worldpara p{
    font-family: Poppins;
    font-size: 18px;
    /* line-height: 40px; */
    color: #707070;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 35px;
}
.worldbluebox{
    background-color: #0055A5;
    padding: 5rem 3rem;
}
.sameline{
    display: flex;
    flex-wrap: wrap;
}
.worldbluebox p{
    font-family: "SackersGothicStdlight";
    font-size: 1.5rem;
    line-height: 55px;
    font-weight: 300;
    color: #A5D3FF;
}
.calcbtn{
    margin-top: 50px;
}

.formselect {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffff;
    background-color: transparent;
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-top: 1px solid #0055A5;
    border-left: 1px solid #0055A5;
    border-right: 1px solid #0055A5;
    border-bottom: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
}
.formselect option{
    color: black;
}
.formselect:focus-visible{
    outline: none;

}
.worldwhitebox{
    background-color: #fff;
    padding: 5rem 3rem;
}
.lumpsum{
    display: flex;
    justify-content: space-around;
}
.left{
    width: 100%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.left h1{
    font-family: SackersGothicStdlight;
    font-size: 48px;
    line-height: 40px;
    color: #0055A5;
    font-weight: 200;
}
.left p{
    margin-top: 25px;
    font-family: SackersGothicStdlight;
    font-size: 32px;
    line-height: 40px;
    color: #707070;
    font-weight: 200;
}
.right{
    width: 100%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.right h1{
    font-family: SackersGothicStdlight;
    font-size: 48px;
    line-height: 40px;
    color: #0055A5;
    font-weight: 200;
}
.right p{
    margin-top: 25px;
    font-family: SackersGothicStdlight;
    font-size: 32px;
    line-height: 40px;
    color: #707070;
    font-weight: 200;
}
.worldmadehead{
    color:#A5D3FF;
}
.worldoutergraph{
  background-color: white; 
  display: flex; 
  justify-content: center;
  align-items: center;

}

.worldoutergraph span img{
    margin-top: 2rem!important;
    margin-bottom: -1rem !important;
height:12rem !important;
width:31rem !important;
padding-bottom: 4rem!important;

}
.sameline .category{
    position: relative;
}

.sameline .category::before{
 content: url(../img/invest/dwncaret.svg);
 width: 50px;
 height: 50px;
 position: absolute;
 top: -5px;
 right: -26px;
   
}
.sameline .category1{
    position: relative;
}

.sameline .category1::before{
 content: url(../img/invest/dwncaret.svg);
 width: 50px;
 height: 50px;
 position: absolute;
 top: -5px;
 right: -26px;
   
}
.sameline .category2{
    position: relative;
}

.sameline .category2::before{
 content: url(../img/invest/dwncaret.svg);
 width: 50px;
 height: 50px;
 position: absolute;
 top: -5px;
 right: -26px;
   
}
.sameline .category3 input{
    background-color: transparent;
    color: #fff !important;
}
/* .sameline .category3{
    width: 28%;
} */

/* .sameline .category3::before{
 content: url(../img/invest/calender.svg);
 width: 50px;
 height: 50px;
 position: absolute;
 top: -5px;
 right: -26px;
   
} */
.sameline .category4 input{
    background-color: transparent;
    color: #fff !important;
}
.sameline .category4 input:focus-visible{
    background-color: transparent;
    color: #fff !important;
    outline-color: none !important;
    outline-style: none !important;
    outline: none !important;
}

.sameline .category4 input[type="month"]::-webkit-calendar-picker-indicator  
{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-image: url("../img/invest/calender.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
    /* background-size: 25px; */
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.sameline .category3 input[type="month"]::-webkit-calendar-picker-indicator  
{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background-image: url("../img/invest/calender.svg");
    background-repeat: no-repeat;
    background-position: 100% center;
    /* background-size: 25px; */
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.sameline .category4{
    width: 28%;
}

/* .sameline .category4::before{
 content: url(../img/invest/calender.svg);
 width: 50px;
 height: 50px;
 position: absolute;
 top: -5px;
 right: -26px;
   
} */
.category3 .formselects{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    padding: 8px 10px !important;
}

.category3 .formselects:focus,.category3 .formselects:focus-visible,.category3 .formselects:focus-within{
outline: none !important;
}

.category4 .formselects{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    padding: 8px 10px !important;
}

.category4 .formselects:focus,.category4 .formselects:focus-visible,.category4 .formselects:focus-within{
outline: none !important;
}


.formselect {
    font-size: 0.9rem;
  }
  .formselect {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.175rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-top: 1px solid #0055a5;
    border-left: 1px solid #0055a5;
    border-right: 1px solid #0055a5;
    border-bottom: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .formselect::placeholder {
    color: #fff;
  }
/* media query start invest page */
@media only screen and (max-width: 1199px) {
    .worldoutergraph .LineChart{
        width: 800px !important;
        height: 300px !important;
    }
    }
@media only screen and (max-width: 799px) {
    .worldpara p{
        margin: 0px 0px 0px !important ;
    }
    .worldbluebox{
        background-color: #0055A5;
        padding: 5rem 3rem;
    }
    }
 
    
    @media only screen and (max-width: 767px) {
        .worldbluebox p{
            font-size: 0.9rem;
        }
        .worldpara p{
            font-size: 22px;
         
        }
        .sameline .category3{
            width: 54%;
        }
        .sameline .category4{
            width: 54%;
        }
    }
    @media only screen and (max-width: 499px) {
        .sameline .category1{
            position: relative;
            width: 100%;
        }
        .sameline .category2{
            position: relative;
            width: 100%;
        }
        .sameline .category3{
            width: 100%;
        }
        .sameline .category4{
            width: 100%;
        }
        .worldbluebox{
            background-color: #0055A5;
            padding: 5rem 1rem;
        }
      
    }


    /* media query end invest page */

