.homeBannerMain {
    width: 100%;
    height: calc(100vh - 71px);
    background-image: url(../img/home/homebanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
  }

  /* .homeBannerMain .homeBannerContent a{
 
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 13px;
    text-transform: uppercase;
    background: 0 0;
    padding-left: 126px;
    position: relative;
    cursor: pointer;
}

.homeBannerMain .homeBannerContent a:before{
  -webkit-transition: all .5s;
  transition: all .5s;
  background-size: 7px 12px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #0055a5;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/footer/Group\ 2520.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.homeBannerMain .homeBannerContent a:after{
  width: 30px;
  height: 0;
  content: "";
  position: absolute;
  left: 83px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 1px solid #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.homeBannerMain .homeBannerContent a:hover {
  padding-left: 116px;
}
.homeBannerMain .homeBannerContent a:focus:before, .homeBannerMain .homeBannerContent a:hover:before {
  -webkit-transform: translateY(-50%) scale(1.2);
  transform: translateY(-50%) scale(1.2);
}
.homeBannerMain .homeBannerContent a:focus:after, .homeBannerMain .homeBannerContent a:hover:after {
  width: 20px;
} */
  .homeBannerContent h4 {
    font-family: 'Poppins', sans-serif;   
    font-size: 52px;
    align-content: center;
    align-items: left;
    color: white;
    font-weight: 300;
    margin-top: 190px;
    width: 50%;
  
  }
  .banhead  {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    align-content: center;
    color: white;
    margin-bottom: 25px;
    line-height: 70px;
  }
  .bannerButton{
    border-radius: 30%;
    font-size: medium;
  }
  .banbutton{
    display: flex;
      align-items: center;
      width: 44%;
      justify-content: space-between;
  
  }
  .mainhow {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 50%;
    /* justify-content: center; */
    transition-duration:0.5s;
    transition-timing-function:linear;
  }
  .mainhow:hover{
    width: 50%;
    padding: 0px 30px 0px 0px;
    /* transition: 1s ease-in; */
  }
  /* .arrowtext p:hover {
    padding: 0;
    margin: 0;
  } */
  .arrowbutton {
    width: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    width: 40px;
    background-color: #ffffff;
    height: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .arwimg {
    display: flex;
    align-items: center;
  }
  .arrowtext {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrowtext p {
    font-family: "SackersGothicStdMedium";
    font-size: 1rem;
    color: #ffffff;
    padding: 0;
    margin: 0;
  }

  .imagewrap{
    position: absolute;
    bottom: -3px;
    width: 100%;
    z-index: -1;
  }
/* ***************************************** */
.maindivheading h2 {
  font-family: "SackersGothicStdMedium";
  color: #FAFAFA;
  font-size: 2.5rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
  /* padding-top: 12rem; */
}
.crossbtn{
  display: flex;
  justify-content: end;
  position: absolute;
  top: 80px;
  right: 50px;
  cursor: pointer;
}
.maindiv{
    background-image: url("../img/Protect/Mask\ Group\ 2708.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

.maindivheading p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #FAFAFA;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.submit{
  display: flex;
  justify-content: center;
}
.submit button {
  font-family: SackersGothicStdlight !important;
  font-size: 0.85rem;
  /* padding: 0.7rem 1.5rem; */
  width: 260px;
  height: 55px;
  border-radius: 5rem;
  background-color: #a5d3ff !important;
  color: #a5d3ff;
  margin-top: 1rem;
  text-transform: uppercase;
  position: relative;
  transition: all 1s;
  box-shadow: none;
  border: 2px solid #0055a5;
  overflow: hidden;
}
 .submit button::before {
  content: "Submit";
  background-color: #0055a5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 20px;
  transition: all 1s;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1rem;
} 
.submit button::before {
  transform: translateY(-0%);
}

.submit button:hover::before {
  transform: translate(0%, 100%);
  transition: all 1s;
}

.submit button:hover {
  color: #fff;
  transition: all 1s;
  font-size: 1.1rem;
}
.name {
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    color: #707070;
  }
/* ******************************************** */
  @media(max-width:1560px) {}

@media(max-width:1367px) {
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }
  
}
@media(max-width:1499px) {
  .banhead{
    padding-left: 6rem;
  }
  .homebannerbtn{
    padding-left: 6rem;
  }
}

@media(max-width:1199px) {
  .homeBannerContent h4 {

    width: 73%;
  
  }
 
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }


}

@media(max-width:991px) {
  .homeBannerContent {
    width: 100%;
  }
    
}

@media(max-width:767px) {
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }
  .homeBannerMain {
    height: calc(70vh - 0px);
    background-position: 100% 100%;

  }
   .homeBannerContent h4 { 
    font-size: 1.5rem;
    line-height: 37px;
    width: unset;
  
  }
  .homeBannerContent {
    width: 100%;
    margin-top: 100px;
  }
}

@media(max-width:600px) {
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }
  .homeBannerMain {
    height: calc(70vh - 0px);

  }
  .arrowtext p {
  
    font-size: 0.8rem;
  
  }
}

@media(max-width:414px) {
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }

}
@media(max-width:375px) {
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }
}




@media (max-width: 1000px){
  .banhead{
    padding-left: 0rem;
  }
  .homebannerbtn{
    padding-left: 0rem;
  }
   
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .homeBannerContent h4 {

      font-size: 35px;
  }
}
@media (max-width: 1024px){
.homeBannerMain {

  height: 70vh
}
}