.maindivHeading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sackers Gothic Std, Medium";
  font-size: 2rem;
  color: #0055a5;
  margin-top: 1rem;
}
.maindiv{
  padding-top: 5rem;
}
.maindivHeading p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: #707070;
  padding-top: 12px;
  text-align: center;
  padding-bottom: 3rem;
}
.Investmentcontent h3 {
  font-family: "SackersGothicStdlight";
  font-size: 1.5rem;
  color: #0055a5;
  font-weight: 300;
  text-align: center;
  display: block;
}
.Investmentcontent p {
  color: #707070;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
/* .imgcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 4rem !important;
} */
.Investmentcontent span img{
width: 4rem !important;

}
.Investmentcontent{
  display:flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}
/* media query start */
@media only screen and (max-width: 1199px) {
  .Investmentcontent h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 767px) {
  .Investmentcontent h3 {
    font-size: 22px;
  }
  .maindivHeading h2 {
    font-size: 24px;
  }
  .Investmentcontent p {
    font-size: 0.9rem;
    margin-bottom: 2.7rem;
    padding-top: 0rem;
    /* padding-bottom: 1.7rem; */
  }
  .imgcontent {
    padding: 7px;
  }
  .maindivHeading p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 414px) {
}

/* media query end */
