.maindiv{
    width: 100%;
    height:calc(100vh - 71px);
  background-color: #0055A5;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

