.banhead {
  padding-top: 3rem;
  margin-bottom: 10rem;
  background-color: #fafcff;
}
.banheadHeading {
  font-family: SackersGothicStdMedium;
  font-size: 38px;
  line-height: 40px;
}

.banpara {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  padding: 20px 40px;
  color: #707070;

  font-family: Poppins;
}
.ban2head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.ban2head h2 {
  color: #0055a5;
  /* text-transform: uppercase; */
  font-size: 3rem;
  line-height: 70px;
  text-align: center;

}
.philosphyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: auto; */
}
.philosphyContent h3 {
  font-family: SackersGothicStdlight;
  font-size: 26px;
  font-weight: 300;
  color: #0055a5;
  padding-bottom: 20px;
  text-align: center;
  text-transform: lowercase;
}
.philosphyContent h4 {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 400;
  color: #0055a5;
}
.philosphyContent p {
  font-family: Poppins;
  color: #707070;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
}
.philosphyContent span img{
  height: 3rem !important;
}

@media (max-width: 1560px) {
}

@media (max-width: 1367px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .philosphyContent p {
    font-size: 0.9rem;
    padding-bottom: 2rem;
  }

  .philosphyContent h3 {
    font-size: 22px;
  }
  .ban2head h2 {
    font-size: 24px;
    line-height: 40px;
  }
  .banpara {
    padding: 20px 0px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 414px) {
}
@media (max-width: 1000px) {
}
